.Setup {
  margin-top: 1rem;
  padding: 1rem;
}

.Speaker {
  color: var(--grey);
  font-style: italic;
}

.Form {
  width: 100%;
  height: 100%;
  min-width: 40%;
}

.Controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.InputContainer {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Label {
  margin: 0.5rem 0.5rem 0.5rem 0;
  font-weight: bold;
  display: block;
  text-transform: capitalize;
}

.Input {
  padding: 0.3rem 0.6rem;
  width: 100%;
  min-height: 2rem;
  border: 0.12rem solid var(--theme2);
  border-radius: 0.25rem;
  outline: none;
  font: 1rem;
  display: block;
}

.Input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.Input:focus {
  border: 0.12rem solid var(--theme3);
  outline: none;
}

.ValidationError {
  color: var(--theme4);
  margin: 0.3rem 0;
}

.Difficulty {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Difficulty input {
  display: none;
}

.Difficulty label {
  padding: 0.6rem;
  width: 48%;
  border: 0.2rem solid transparent;
  border-radius: 0.6rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.Difficulty input:checked + label {
  border-color: var(--theme2);
  box-shadow: 0 1rem 1rem -0.6rem var(--shadow);
}
