.Menu {
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: var(--theme);
  outline: none;
}

.Menu .Header {
  margin-top: 1rem;
  position: relative;
}

.Menu .Avatar {
  margin: auto;
  width: 10vw;
  height: 10vw;
  background-color: var(--white);
  border: 0.24rem solid var(--theme2);
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
  font-size: 5rem;
  text-align: center;
}

.Menu .Header h2 {
  margin: 1rem 0 0;
  color: var(--white);
  font-weight: normal;
  text-align: center;
}

.Menu ul {
  margin: 0;
  padding: 0.5rem 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.Menu ul a {
  padding: 0.5em 1em 0.5em 3em;
  color: var(--white);
  font-size: 0.95em;
  font-weight: regular;
  text-decoration: none;
  transition: all 0.15s linear;
  cursor: pointer;
  filter: brightness(100);
}

.Menu ul a span {
  padding-left: 1rem;
  color: var(--white);
}

.Menu ul a:hover,
.Menu ul a.Active {
  background-color: var(--shadow);
}

.Menu ul a:focus {
  outline: none;
}

.MenuButton {
  display: none;
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  .Menu {
    width: 20%;
  }

  .Menu .Avatar {
    font-size: 2rem;
  }

  .Menu ul a {
    padding: 1rem;
    height: 3.75rem;
    position: relative;
    text-align: center;
  }

  .Menu .Header h2,
  .Menu ul a span {
    margin: 0;
    min-width: 12.5rem;
    position: absolute;
    top: 50%;
    left: 6.25rem;
    opacity: 0;
    background-color: var(--theme-light);
    border-radius: 0.24rem;
    transform: translate3d(-1.25rem, -50%, 0);
    transition: all 0.15s ease-in-out;
  }

  .Menu .Header:hover h2,
  .Menu ul a:hover span {
    opacity: 1;
    transform: translate3d(0, -50%, 0);
  }

  .Menu ul a span:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -0.3rem;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    border-right: 0.3rem solid var(--theme-light);
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 500px) {
  .Menu {
    width: 14.4rem;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-14.4rem, 0, 0);
    transition: all 0.3s ease-in-out;
  }

  .Menu .Avatar {
    font-size: 100%;
  }

  .Menu .MenuBar {
    width: 100vw;
    height: 2.5rem;
    position: absolute;
    left: 100%;
    background-color: var(--theme);
  }

  .MenuButton {
    padding: 0.25rem 0 0 1rem;
    font-size: 1.5rem;
    filter: brightness(100);
    display: block;
  }

  .Menu .MenuBar:after {
    top: 55%;
    transform: translate3d(-50%, -50%, 0);
  }

  .Menu ul a {
    padding: 1em 1em 1em 3em;
    font-size: 1.2em;
  }

  .Menu:focus {
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
    transform: translate3d(0, 0, 0);
  }

  .Menu:focus .MenuBar {
    pointer-events: none;
  }
}
