.IssueTray {
  padding: 1rem;
  height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.Issue {
  width: 100%;
  background-color: var(--white);
  color: inherit;
  animation-name: arrive;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes arrive {
  from {
    margin-top: -100vh;
  }
  to {
    margin-top: 0;
  }
}

.Issue .Type {
  color: var(--grey);
  font-size: 0.8rem;
  font-style: italic;
  text-transform: capitalize;
  float: right;
}
