:root {
  --theme: #2a9d8f;
  --theme2: #e9c46a;
  --theme3: #f4a261;
  --theme4: #e76f51;

  --theme-light: #7eddd2;
  --theme-dark: #1e7167;

  --white: #fdfffc;
  --black: #264653;
  --grey: #889696;
  --shadow: rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 16px;
  color: #264653;
  color: var(--black);
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #898989;
  background-color: var(--theme);
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #141414;
  background-color: var(--theme-dark);
}

button {
  margin: 0.6rem;
  padding: 0.6rem;
  min-width: 4rem;
  background-color: var(--theme);
  border: none;
  border-radius: 0.5rem;
  outline: none;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--theme-dark);
}

button:disabled {
  background-color: var(--grey);
  cursor: not-allowed;
}
